
.product-cotainer {
    // background-color: #fff;
    padding: 0 0 ;
    margin-top: 30px;
}

.product-header {
    height: 60px;
    background-color: #fff;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    color: rgb(238, 77, 45);
}
.line {

    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: rgb(238, 77, 45);
    transition: opacity 0.3s ease 0s;
}

.listProduct {
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 30px;
}