.header-login-signup {
 
    background: linear-gradient(-180deg, #f53d2d, #f63);
    position: sticky;
    z-index: 99;
}

.block-header-icon {
    width: 1520px;
    height: 84px;
    padding: 0 50px;
}