.category-contain {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

.shoppe_header_category {
    display: flex;
    padding: 0 20px;
    width: 1200px;
    height: 60px;
    background: #fff;
    height: 3.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 0 1.25rem;

    .shoppe_header_category_title {
        align-items: center;
        flex: 1;
        line-height: 60px;
        font-size: 1rem;
        color: rgba(0, 0, 0, .54);
        font-weight: 500;
    }
}

.shoppe_content_category {
    padding: 0 23px;
}

.cateItem-contain {
    flex-wrap: wrap;
    align-content: flex-start;
}